PORT=3000
MONGODB_URI=mongodb://angelvs94cc_db_user:84TRauz6w1USZYzF@ac-demokeep-shard-00-00.zphqkfe.mongodb.net:27017,ac-demokeep-shard-00-01.zphqkfe.mongodb.net:27017,ac-demokeep-shard-00-02.zphqkfe.mongodb.net:27017/keepcoding?ssl=true&replicaSet=atlas-m0-shard-0&authSource=admin&retryWrites=true&w=majority
DB_NAME=demoKeep
SESSION_SECRET=un_secreto_para_tus_cookies_123