<%- include('partials/page-start.html') %>

<h1><%= title %></h1>

<% if (values._id) { %>
    <span class="badge bg-secondary">Id de la tarea: <%= values._id %></span>
<% } %>

<section class="card mt-3">
    <div class="card-body">

        <% if (locals.errorMessage) { %>
            <div class="alert alert-warning"><%= errorMessage %></div>
        <% } %>

        <form method="POST" action="/tasks<%= values._id ? '/edit/' + values._id : '' %>">

            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    placeholder="Ej: Comprar pan"
                    value="<%= values.title ?? '' %>"
                    required
                >
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" name="done" id="done" class="form-check-input" <%= values.done ? 'checked' : '' %>>
                <label class="form-check-label" for="done">¿Completada?</label>
            </div>

            <button type="submit" class="btn btn-success">Guardar Tarea</button>

        </form>

        <% if (values._id) { %>
             <hr>
             <button id="deleteBtn" class="btn btn-danger">Eliminar Tarea</button>
        <% } %>

    </div>
</section>

<% if (values._id) { %>
    <script>
        const btnElement = document.querySelector('#deleteBtn');
        const taskId = "<%= values._id %>";

        btnElement.addEventListener('click', () => {
            if(confirm('¿Seguro que quieres borrarla?')) {
                fetch("/tasks/" + taskId, { method: "DELETE" })
                    .then(response => response.json())
                    .then(() => {
                        window.location.href = '/tasks';
                    });
            }
        });
    </script>
<% } %>

<%- include('partials/page-end.html') %>