<%- include('partials/page-start.html') %>

<div class="container mt-4">
    <h1>Listado de Tareas</h1>
    <nav class="mb-3">
        <a href="/tasks?status=all" class="btn btn-sm btn-outline-primary">Todas</a>
        <a href="/tasks?status=pending" class="btn btn-sm btn-outline-warning">Pendientes</a>
        <a href="/tasks?status=done" class="btn btn-sm btn-outline-success">Finalizadas</a>
    </nav>
    
    <ul class="list-group">
        <% if ( tasks.length === 0 ) { %>
            <li class="list-group-item">No se han encontrado tareas</li>
        <% } else {
            tasks.forEach((task) => { %>
                <%- include('partials/components/task-component.html', { task: task }) %>
            <% })
        } %>
    </ul>
</div>

<%- include('partials/page-end.html') %>